<%= form_tag movies_path, method: :get do %>
  <%= text_field_tag 'movie[query]' %>
  <%= submit_tag :search %>
<% end %>

<% @movies.each do  |movie| %>
  <p><%= movie['title'] %></p>
  <p><%= movie['release_date'] %></p>
<% end %>
